# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment & secrets
.env

# OS files
.DS_Store

# Jupyter (if any)
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/

# Logs
*.log
